article {
  position: relative;
  height: 100%;
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.article-slide {
  width: 1040px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.article-slide .article-container {
  width: 940px;
  height: 519px;
  padding-bottom: 30px;
  box-sizing: content-box;
}

.article-slide .article-container ul li {
  width: 220px;
  height: 489px;
  text-align: center;
  font-size: 18px;
  background: #fff;
}
