

// articleスワイパーここから

article{
  position: relative;
  background: #000;
  font-family: "Verdana","メイリオ","Open sans","sans-serif";
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding-bottom: 20px;

  button {
  padding: 15px 20px;
    color: #87dfd3;
    background-color: #313131;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 200px;
  }

}

.article-slide {
  width: 1140px;
  margin: 0 auto;
  position: relative;

  .article-container {
      width: 931px;
      height: 489px; 
      margin-bottom: 10px;
      padding-bottom: 30px;

    ul {
      
      li {
        width: 220px;
        height: 489px;
        font-size: 18px;
        background: #313131;
        box-sizing: border-box;

        h2,h3,h4 {
          width: 220px;
          font-weight: bold;
        }

        h2 {          
          height: 30px;
          font-size: 12px;
          text-align: center;
          line-height: 30px;
        }

        img {
          width: 220px;
          height: 220px;
<<<<<<< HEAD
          box-sizing: border-box;
=======
          margin-left:0px;
>>>>>>> ddb4b35248e3eed106163502b095161722d33648
        }

        h3 {
          font-size: 12px;
          color: #87dfd3;
          text-align: center;
          margin: 15px 0 10px;
        }

        h4 {
          font-size: 13.2px;
          margin-bottom: 10px;
          padding: 10px;
          box-sizing: border-box;
        }

        p {
          width: 220px;
          height: 60px;
          font-size: 12px;
          padding: 0 10px;
          box-sizing: border-box;
          overflow: hidden;
        }

        button {
          width: 110px;
          padding: 15px 5px;
          background-color: #87dfd3;
          border: none;
          border-radius: 3px;
          font-size: 12px;
          font-weight: bold;
          line-height: 1;
          letter-spacing: 1px;
          color: #fff;
          margin: 10px;
          box-sizing: border-box;
          cursor: pointer;
          position: absolute;
          bottom: 0;
          right: 0;
        }

        .clearfix::after {
          content: "";
          display: block;
          clear: both;
       }

       .article-race {
         background-color: #576fb5;
       }

       .article-bikes {
        background-color: #90c320;
      }

       .article-store {
         background-color: #ff4500;
       }

       .article-event {
         background-color: #e3017f;
       }

       .article-info {
         background-color: #930784;
       }

      }
    
    }

  }

  .article-next,.article-prev {
    width: 32px;
    height: 56px;
    top: calc((100% - 50px) * 0.5);
    // position: absolute;
    // z-index: 2;
  }

  .article-next {
   background-image: url(../img/slider_right_arrow.png); 
   background-repeat: no-repeat;
  }

  .article-prev {
    background-image: url(../img/slider_left_arrow.png); 
    background-repeat: no-repeat;
   }

   .article-next:after,.article-prev:after {
     content: none;
   }


}

// articleスワイパーここまで

// ipad対応
@media screen and (max-width: 960px){
  .article-slide {
    width: 640px;
    .article-container {
      width: 460px;
      }
  }

}

//  スマホ対応
@media screen and (max-width: 480px){
  .article-slide {
    width: 220px;
    .article-container {
      width: 220px;
      }

    .article-next,.article-prev {
      display: none;
    }

  }

}