.footer-title {
  padding: 10px 0;
  display: flex;
  justify-content: center;

  img {
    width: 135px;
    height: 26.27px;

}

}

.footer-icons {
  height: 50px;
  background-color: #87dfd3;
  display: flex;
  justify-content: center;

  li {
    padding: 10px 20px;

    img {
      width: 33px;
    }

    &.icons-fb img {
      width: 14px;
    }

  }

  .icons-fb {
    padding-top: 11px;
    padding-right: 29px;
  }

  .icons-yt {
    padding-top: 13px;
  }

  
}

.footer-copylight {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  li {
    font-size: 10px;
  }
}
