.header{
    height: 1000px;
}
.header_wrapper{
    display: flex;
    justify-content:space-between;
    height: 75px;
}
.header_site_title img{
    width: 160px;
    margin: 20px;
}
.wrapper_items{
    display: flex;
}
.wrapper_icon img{
    width: 70px;
    height: 70px;
    margin-right: 3px;
}
.wrapper_onlinestore img{
    width: 280px;
    height: 70px;
}
.header_navigation ul{
    display: flex;
    font-size: 18px;
    list-style: none;
    justify-content: space-around;
    background-color: cadetblue;
    font-weight: bold;
    margin:0px 0px 10px 0px;
    height: 30px;
li{
    padding:2px;
}
}
.swiper-container{
    width: 1475px;
    height: 800px;
img{
    width: 1475px;
    height: 800px;
    }
 }
 