// ipad対応
@media screen and (max-width: 960px){
    .wrapper_icon{
       display: contents;
       margin-right: 50px;
    }
    .wrapper_onlinestore img{
        width: 250px;
    }
    .menu ul{
        height: 45px;
    }
    .swiper-container{
        img{
            margin-left: 0px;
        }
    }
    #nav-open {
        display:none;
      }
}

//  スマホ対応
@media screen and (max-width: 480px){
    body{
        margin: 0px;
    }
    .header_site_title img{
     width: 150px;
     height: 40px;
     margin: 27px 0px 0px 8px;
    }
    .wrapper_items{
        align-items: flex-end;
        margin-bottom:10px;
       .wrapper_icon img{
        width: 35px;
        height: 35px;
        }
        .wrapper_onlinestore img{
        display:none;
        }
        }
    .menu{
        display: none;
    }
    .swiper-container{
        widows: 375px;
        height: 200px;
        img{
            width:375px;
            height: 200px;
            margin-left: 0px;
        }
    }
    #nav-open {
        display:block;
      }
}